

<form class="row g-4">
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label"name="coco" id="coco"><h5>informacao do produto</h5></label>
  
    <img src="/img/bolococo.jpg" class="rounded float-start" alt="..." width="150" height="150" >
    <button type="submit" class="btn btn-success">colocar no carrinho</button>
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label"><h5>informacao do produto</h5></label>
 <img src="/img/bolocenoura.jpg" class="rounded float-start" alt="..." width="150" height="150">
 <button type="submit" class="btn btn-success">colocar no carrinho</button>
  </div>
   <div class="col-md-4">
    <label for="validationDefault02" class="form-label"><h5>informacao do produto</h5></label>
 <img src="/img/bolocenoura.jpg" class="rounded float-start" alt="..." width="150" height="150">
 <button type="submit" class="btn btn-success">colocar no carrinho</button>
  </div>
 <div class="col-md-4">
    <label for="validationDefault01" class="form-label"><h5><h5>informacao do produto</h5></h5></label>
    <img src="/img/bolococo.jpg" class="rounded float-start" alt="..." width="150" height="150" >
    <button type="submit" class="btn btn-success">colocar no carrinho</button>
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label"><h5>informacao do produto</h5></label>
 <img src="/img/bolocenoura.jpg" class="rounded float-start" alt="..." width="150" height="150">
 <button type="submit" class="btn btn-success">colocar no carrinho</button>
  </div>
   <div class="col-md-4">
    <label for="validationDefault02" class="form-label"><h5>informacao do produto</h5></label>
 <img src="/img/bolocenoura.jpg" class="rounded float-start" alt="..." width="150" height="150">
 <button type="submit" class="btn btn-success">colocar no carrinho</button>
  </div>
   <div class="col-md-4">
    <label for="validationDefault01" class="form-label" ><h5><h5>informacao do produto</h5></h5></label>
    <img src="/img/bolococo.jpg" class="rounded float-start" alt="..." width="150" height="150" >
    <button type="submit" class="btn btn-success">colocar no carrinho</button>
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label"><h5>informacao do produto</h5></label>
 <img src="/img/bolocenoura.jpg" class="rounded float-start" alt="..." width="150" height="150">
 <button type="submit" class="btn btn-success">colocar no carrinho</button>
  </div>
   <div class="col-md-4">
    <label for="validationDefault02" class="form-label"><h5>informacao do produto</h5></label>
 <img src="/img/bolocenoura.jpg" class="rounded float-start" alt="..." width="150" height="150">
 <button type="submit" class="btn btn-success">colocar no carrinho</button>
  </div>





</form>